In [1]:
import pandas
import numpy


# set appropriate options for pandas
pandas.set_option('display.max_rows', 20)

In [2]:
# load the dataset into the workspace
data = pandas.read_csv('./datasets/Chronic_Kidney_Disease/chronic_kidney_disease_full.csv')
data

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wbcc,rbcc,htn,dm,cad,appet,pe,ane,class
0,48,80,1.020,1,0,?,normal,notpresent,notpresent,121,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,7,50,1.020,4,0,?,normal,notpresent,notpresent,?,...,38,6000,?,no,no,no,good,no,no,ckd
2,62,80,1.010,2,3,normal,normal,notpresent,notpresent,423,...,31,7500,?,no,yes,no,poor,no,yes,ckd
3,48,70,1.005,4,0,normal,abnormal,present,notpresent,117,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,51,80,1.010,2,0,normal,normal,notpresent,notpresent,106,...,35,7300,4.6,no,no,no,good,no,no,ckd
5,60,90,1.015,3,0,?,?,notpresent,notpresent,74,...,39,7800,4.4,yes,yes,no,good,yes,no,ckd
6,68,70,1.010,0,0,?,normal,notpresent,notpresent,100,...,36,?,?,no,no,no,good,no,no,ckd
7,24,?,1.015,2,4,normal,abnormal,notpresent,notpresent,410,...,44,6900,5,no,yes,no,good,yes,no,ckd
8,52,100,1.015,3,0,normal,abnormal,present,notpresent,138,...,33,9600,4.0,yes,yes,no,good,no,yes,ckd
9,53,90,1.020,2,0,abnormal,abnormal,present,notpresent,70,...,29,12100,3.7,yes,yes,no,poor,no,yes,ckd
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
387,52,80,1.025,0,0,normal,normal,notpresent,notpresent,99,...,52,6300,5.3,no,no,no,good,no,no,notckd
388,36,80,1.025,0,0,normal,normal,notpresent,notpresent,85,...,44,5800,6.3,no,no,no,good,no,no,notckd
389,57,80,1.020,0,0,normal,normal,notpresent,notpresent,133,...,46,6600,5.5,no,no,no,good,no,no,notckd
390,43,60,1.025,0,0,normal,normal,notpresent,notpresent,117,...,54,7400,5.4,no,no,no,good,no,no,notckd
391,50,80,1.020,0,0,normal,normal,notpresent,notpresent,137,...,45,9500,4.6,no,no,no,good,no,no,notckd
392,55,80,1.020,0,0,normal,normal,notpresent,notpresent,140,...,47,6700,4.9,no,no,no,good,no,no,notckd
393,42,70,1.025,0,0,normal,normal,notpresent,notpresent,75,...,54,7800,6.2,no,no,no,good,no,no,notckd
394,12,80,1.020,0,0,normal,normal,notpresent,notpresent,100,...,49,6600,5.4,no,no,no,good,no,no,notckd
395,17,60,1.025,0,0,normal,normal,notpresent,notpresent,114,...,51,7200,5.9,no,no,no,good,no,no,notckd
396,58,80,1.025,0,0,normal,normal,notpresent,notpresent,131,...,53,6800,6.1,no,no,no,good,no,no,notckd

In [3]:
import warnings


# turning warnings off
warnings.catch_warnings()


from xgboost import XGBClassifier

/home/user/anaconda3/lib/python3.6/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [4]:
data.dtypes

age      object
bp       object
sg       object
al       object
su       object
rbc      object
pc       object
pcc      object
ba       object
bgr      object
          ...
pcv      object
wbcc     object
rbcc     object
htn      object
dm       object
cad      object
appet    object
pe       object
ane      object
class    object
Length: 25, dtype: object

In [5]:
# let's see what we have here?!
data.columns, len(data.columns)

(Index(['age', 'bp', 'sg', 'al', 'su', 'rbc', 'pc', 'pcc', 'ba', 'bgr', 'bu',
        'sc', 'sod', 'pot', 'hemo', 'pcv', 'wbcc', 'rbcc', 'htn', 'dm', 'cad',
        'appet', 'pe', 'ane', 'class'],
       dtype='object'), 25)

In [6]:
# select target and features
features = ['age', 'bp', 'sg', 'al', 'su', 'rbc', 'pc', 'pcc', 'ba', 'bgr', 'bu',
        'sc', 'sod', 'pot', 'hemo', 'pcv', 'wbcc', 'rbcc', 'htn', 'dm', 'cad',
        'appet', 'pe', 'ane']
target = ['class']

In [29]:
# separate X, from Y
X, Y = data[features], data[target]

In [30]:
from sklearn.model_selection import train_test_split

In [31]:
x_train, x_test, y_train, y =\
train_test_split(X, Y, test_size=0.3, random_state=0)

In [32]:
# visit http://xgboost.readthedocs.io/en/latest/parameter.html for more info on hyper parameter tuning
#help(XGBClassifier)
pass

In [33]:
model = XGBClassifier(max_depth=3, learning_rate=0.1, n_estimators=100, silent=False, 
                      objective='binary:logistic', nthread=-1, gamma=0, min_child_weight=1, 
                      max_delta_step=0, subsample=1, colsample_bytree=1, colsample_bylevel=1, 
                      reg_alpha=0, reg_lambda=1, scale_pos_weight=1, base_score=0.5, seed=0, 
                      missing=None)

# train the model
model.fit(x_train, y_train, eval_metric='logloss', verbose=True)

/home/user/anaconda3/lib/python3.6/site-packages/sklearn/preprocessing/label.py:95: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/home/user/anaconda3/lib/python3.6/site-packages/sklearn/preprocessing/label.py:128: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

XGBClassifier(base_score=0.5, colsample_bylevel=1, colsample_bytree=1,
       gamma=0, learning_rate=0.1, max_delta_step=0, max_depth=3,
       min_child_weight=1, missing=None, n_estimators=100, nthread=-1,
       objective='binary:logistic', reg_alpha=0, reg_lambda=1,
       scale_pos_weight=1, seed=0, silent=False, subsample=1)

In [12]:
## I dont like nans
#data.replace('?', numpy.nan, inplace=True)
#data.dropna(inplace=True)

## or
# data = data[data != '?']

# replace the nan with mode
def fix_bad_values(x):
    try:
        x = float(x)
    except:
        return numpy.nan
    else: 
        return x
    
data.replace('?', numpy.nan, inplace=True)

def is_categorial(x):
    try:
        float(x)
    except:
        return True
    else: 
        return False

def encode(x):
    return hash(x)%2

for column in data.columns:
    mode = data[column].mode()[0]
    print(column, mode, type(mode))
    if is_categorial(mode):
        data[column].fillna(mode, inplace=True)
        data[column] = data[column].apply(encode)
    else:
        data[column] = data[column].apply(fix_bad_values)
        mean = data[column].astype(numpy.float).mean()
        data[column].fillna(mean, inplace=True)
data

age 60 <class 'str'>
bp 80 <class 'str'>
sg 1.020 <class 'str'>
al 0 <class 'str'>
su 0 <class 'str'>
rbc normal <class 'str'>
pc normal <class 'str'>
pcc notpresent <class 'str'>
ba notpresent <class 'str'>
bgr 99 <class 'str'>
bu 46 <class 'str'>
sc 1.2 <class 'str'>
sod 135 <class 'str'>
pot 3.5 <class 'str'>
hemo 15.0 <class 'str'>
pcv 41 <class 'str'>
wbcc 9800 <class 'str'>
rbcc 5.2 <class 'str'>
htn no <class 'str'>
dm no <class 'str'>
cad no <class 'str'>
appet good <class 'str'>
pe no <class 'str'>
ane no <class 'str'>
class ckd <class 'str'>

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wbcc,rbcc,htn,dm,cad,appet,pe,ane,class
0,48.0,80.000000,1.020,1.0,0.0,1,1,1,1,121.000000,...,44.0,7800.000000,5.200000,1,1,1,1,1,1,1
1,7.0,50.000000,1.020,4.0,0.0,1,1,1,1,147.864407,...,38.0,6000.000000,4.702247,1,1,1,1,1,1,1
2,62.0,80.000000,1.010,2.0,3.0,1,1,1,1,423.000000,...,31.0,7500.000000,4.702247,1,1,1,1,1,1,1
3,48.0,70.000000,1.005,4.0,0.0,1,1,1,1,117.000000,...,32.0,6700.000000,3.900000,1,1,1,1,1,1,1
4,51.0,80.000000,1.010,2.0,0.0,1,1,1,1,106.000000,...,35.0,7300.000000,4.600000,1,1,1,1,1,1,1
5,60.0,90.000000,1.015,3.0,0.0,1,1,1,1,74.000000,...,39.0,7800.000000,4.400000,1,1,1,1,1,1,1
6,68.0,70.000000,1.010,0.0,0.0,1,1,1,1,100.000000,...,36.0,8404.794521,4.702247,1,1,1,1,1,1,1
7,24.0,76.467532,1.015,2.0,4.0,1,1,1,1,410.000000,...,44.0,6900.000000,5.000000,1,1,1,1,1,1,1
8,52.0,100.000000,1.015,3.0,0.0,1,1,1,1,138.000000,...,33.0,9600.000000,4.000000,1,1,1,1,1,1,1
9,53.0,90.000000,1.020,2.0,0.0,1,1,1,1,70.000000,...,29.0,12100.000000,3.700000,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
387,52.0,80.000000,1.025,0.0,0.0,1,1,1,1,99.000000,...,52.0,6300.000000,5.300000,1,1,1,1,1,1,1
388,36.0,80.000000,1.025,0.0,0.0,1,1,1,1,85.000000,...,44.0,5800.000000,6.300000,1,1,1,1,1,1,1
389,57.0,80.000000,1.020,0.0,0.0,1,1,1,1,133.000000,...,46.0,6600.000000,5.500000,1,1,1,1,1,1,1
390,43.0,60.000000,1.025,0.0,0.0,1,1,1,1,117.000000,...,54.0,7400.000000,5.400000,1,1,1,1,1,1,1
391,50.0,80.000000,1.020,0.0,0.0,1,1,1,1,137.000000,...,45.0,9500.000000,4.600000,1,1,1,1,1,1,1
392,55.0,80.000000,1.020,0.0,0.0,1,1,1,1,140.000000,...,47.0,6700.000000,4.900000,1,1,1,1,1,1,1
393,42.0,70.000000,1.025,0.0,0.0,1,1,1,1,75.000000,...,54.0,7800.000000,6.200000,1,1,1,1,1,1,1
394,12.0,80.000000,1.020,0.0,0.0,1,1,1,1,100.000000,...,49.0,6600.000000,5.400000,1,1,1,1,1,1,1
395,17.0,60.000000,1.025,0.0,0.0,1,1,1,1,114.000000,...,51.0,7200.000000,5.900000,1,1,1,1,1,1,1
396,58.0,80.000000,1.025,0.0,0.0,1,1,1,1,131.000000,...,53.0,6800.000000,6.100000,1,1,1,1,1,1,1

In [34]:
# make the predictions
y_hat = model.predict(x_test)

In [46]:
make_df = pandas.DataFrame
y_and_y_hat = pandas.concat([y.rename(columns={"class": "y"}).reset_index(), 
                             make_df({"y_hat": list(y_hat)})], axis="columns")
y_and_y_hat

     index  dm  y_hat
0       65   1      1
1      132   1      1
2       74   1      1
3       78   1      1
4       37   1      1
5       54   1      1
6      293   1      1
7       60   1      1
8       12   1      1
9      361   1      1
..     ...  ..    ...
110     21   1      1
111    186   1      1
112    231   1      1
113    362   1      1
114     49   1      1
115    235   1      1
116    298   1      1
117     92   1      1
118    220   1      1
119    225   1      1

[120 rows x 3 columns]

In [40]:
from sklearn.metrics import classification_report, accuracy_score

In [41]:
error_function = accuracy_score
report = error_function(y_and_y_hat["y"], y_and_y_hat["y_hat"])
print(report)

1.0

In [42]:
data['rnd1'] = numpy.random.randint(0, 100 , size=(data.shape[0], 1))

In [45]:
# select target and features
features = ['age', 'bp', 'sg', 'al', 'su', 'rbc', 'pc', 'pcc', 'ba', 'bgr', 'bu',
        'sc', 'sod', 'pot', 'hemo', 'pcv', 'wbcc', 'rbcc', 'htn', 'cad', 'dm',
        'appet', 'pe', 'ane', 'rnd1']
target = ['class']

In [44]:
data

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,wbcc,rbcc,htn,dm,cad,appet,pe,ane,class,rnd1
0,48.0,80.000000,1.020,1.0,0.0,1,1,1,1,121.000000,...,7800.000000,5.200000,1,1,1,1,1,1,1,62
1,7.0,50.000000,1.020,4.0,0.0,1,1,1,1,147.864407,...,6000.000000,4.702247,1,1,1,1,1,1,1,96
2,62.0,80.000000,1.010,2.0,3.0,1,1,1,1,423.000000,...,7500.000000,4.702247,1,1,1,1,1,1,1,82
3,48.0,70.000000,1.005,4.0,0.0,1,1,1,1,117.000000,...,6700.000000,3.900000,1,1,1,1,1,1,1,73
4,51.0,80.000000,1.010,2.0,0.0,1,1,1,1,106.000000,...,7300.000000,4.600000,1,1,1,1,1,1,1,42
5,60.0,90.000000,1.015,3.0,0.0,1,1,1,1,74.000000,...,7800.000000,4.400000,1,1,1,1,1,1,1,85
6,68.0,70.000000,1.010,0.0,0.0,1,1,1,1,100.000000,...,8404.794521,4.702247,1,1,1,1,1,1,1,54
7,24.0,76.467532,1.015,2.0,4.0,1,1,1,1,410.000000,...,6900.000000,5.000000,1,1,1,1,1,1,1,26
8,52.0,100.000000,1.015,3.0,0.0,1,1,1,1,138.000000,...,9600.000000,4.000000,1,1,1,1,1,1,1,92
9,53.0,90.000000,1.020,2.0,0.0,1,1,1,1,70.000000,...,12100.000000,3.700000,1,1,1,1,1,1,1,90
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
387,52.0,80.000000,1.025,0.0,0.0,1,1,1,1,99.000000,...,6300.000000,5.300000,1,1,1,1,1,1,1,29
388,36.0,80.000000,1.025,0.0,0.0,1,1,1,1,85.000000,...,5800.000000,6.300000,1,1,1,1,1,1,1,60
389,57.0,80.000000,1.020,0.0,0.0,1,1,1,1,133.000000,...,6600.000000,5.500000,1,1,1,1,1,1,1,13
390,43.0,60.000000,1.025,0.0,0.0,1,1,1,1,117.000000,...,7400.000000,5.400000,1,1,1,1,1,1,1,69
391,50.0,80.000000,1.020,0.0,0.0,1,1,1,1,137.000000,...,9500.000000,4.600000,1,1,1,1,1,1,1,35
392,55.0,80.000000,1.020,0.0,0.0,1,1,1,1,140.000000,...,6700.000000,4.900000,1,1,1,1,1,1,1,44
393,42.0,70.000000,1.025,0.0,0.0,1,1,1,1,75.000000,...,7800.000000,6.200000,1,1,1,1,1,1,1,60
394,12.0,80.000000,1.020,0.0,0.0,1,1,1,1,100.000000,...,6600.000000,5.400000,1,1,1,1,1,1,1,59
395,17.0,60.000000,1.025,0.0,0.0,1,1,1,1,114.000000,...,7200.000000,5.900000,1,1,1,1,1,1,1,39
396,58.0,80.000000,1.025,0.0,0.0,1,1,1,1,131.000000,...,6800.000000,6.100000,1,1,1,1,1,1,1,4